.table-container {
    margin: 0 auto;
    width: 500px;
    height: 700px;
    
}
table{
    width: 500px;
    height: 500px;
    border-collapse: collapse;
    text-align: center;
    color: white;
    
}
td {
    border: none;
}
tr {
    width: 75px;
    height: 75px;   
}
td.with-text{
    border: 1px solid white;
    background-color: darkslategrey;
}
th {
    border: none;
}
th.with-text{
    border: 1px solid black;
}
body{
    background-color: black;
}